body{
	background: #333;
}
.colors{

}
.color{
	display: flex;
	justify-content: center;
}
.color img{
	width: 100px;
	height: auto;
	border: 1px solid #000;
	border-radius: 50%;

}
.color.active img{
	box-sizing: border-box;
	border: 4px solid #0a0;
	padding: 2px;
	background: #afa;
	box-shadow: 0 0 10px #0a0;
}